.voting-wrapper
  position absolute
  background #fff
  //bottom -27%
  right 5%
  width 40%
  max-width 600px
  height 30%
  border 1px solid #ddd
  transition 0.2s
  &:hover
    //bottom 0
    transition 0.2s

  .voting-title
    display block
    height auto
    width 100%
    background-color #46d3c3
    font-family BebasNeue
    color #2f2d33
    text-align center
    padding 4px 0 6px 0

  .voting-content
    display flex
    height 100%