.voting-wrapper
  position fixed
  background #fff
  z-index 1000
  bottom 0
  right 5%
  border 1px solid #ddd
  transition 0.2s

  .voting-header
    background #39c2d7
    display flex
    font-size 18px
    .voting-title
      font-weight bold
      font-family Oswald Regular, Arial,sans-serif
      color #fff
      flex 1
      text-align center
      padding 8px 4px
    .voting-close, .voting-minimize, .voting-maximize
      cursor pointer
      border 0
      color #fff
      background #39c2d7
      font-size 30px
      &:hover
        color #f4f4f4
    .voting-minimize, .voting-maximize
      font-size 20px

  .voting-content
    display flex
    height 100%
    .voting-item
      width 175px
      &:first-child button
        border-left 0
      &:last-child button
        border-right 0
      button
        font-family Source Sans Pro, Helvetica, Arial,sans-serif
        color #454746
        cursor pointer
        border-right .5px solid #ddd
        border-left .5px solid #ddd
        border-top 0
        border-bottom 0
        min-height 75px
        font-size 14px
        width 100%
        height 100%
        background: #fff
        &:hover
          background #f4f4f4
      .voting-section-success-title
        color #a3c644
        font-weight 600
        text-transform uppercase
      .voting-section-success
        color #a3c644
      .voting-section-failure
        color #e96556
        font-weight 600
        text-transform uppercase

  .hide
    display none


.voting-spinner {
  color #39c2d7
  font-size 36px
  text-indent -9999em
  overflow hidden
  width 1em
  height 1em
  border-radius 50%
  margin auto
  position relative
  -webkit-transform translateZ(0)
  -ms-transform translateZ(0)
  transform translateZ(0)
  -webkit-animation load6 1.7s infinite ease
  animation load6 1.7s infinite ease
}
@-webkit-keyframes load6 {
  0% {
    -webkit-transform rotate(0deg)
    transform rotate(0deg)
    box-shadow 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em
  }
  5%,
  95% {
    box-shadow 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em
  }
  10%,
  59% {
    box-shadow 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em
  }
  20% {
    box-shadow 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em
  }
  38% {
    box-shadow 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em
  }
  100% {
    -webkit-transform rotate(360deg)
    transform rotate(360deg)
    box-shadow 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em
  }
}
@keyframes load6 {
  0% {
    -webkit-transform rotate(0deg)
    transform rotate(0deg)
    box-shadow 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em
  }
  5%,
  95% {
    box-shadow 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em
  }
  10%,
  59% {
    box-shadow 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em
  }
  20% {
    box-shadow 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em
  }
  38% {
    box-shadow 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em
  }
  100% {
    -webkit-transform rotate(360deg)
    transform rotate(360deg)
    box-shadow 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em
  }
}
